*{ margin: 0%;
     padding: 0%;
} 

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CBB89D;}

    @font-face {
        font-family: 'bright melody';
        src: url(/Bright\ Melody\ Display\ Typeface.otf);}

        